<a href="https://colab.research.google.com/github/UwzH43ZRx-5S/A/blob/main/Sports%20Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In-class Assignment
## Find a sports dataset
## Conduct initial EDA 

1.   Change at least two column names and complete at least one broadcast operation

## Answer the following questions:
1. Who are the highest players in the sport?
2. Who is the most efficent player in that sport?
 (Most points scored or highest salary)
3. Who is the best team within the sport?
4. Come up with 5 more questions and answers.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
mlb = pd.read_csv('https://raw.githubusercontent.com/UwzH43ZRx-5S/mlData/main/mlb.csv')

In [ ]:
df_mlb = mlb

In [ ]:
# preview of the data set
# showing the first 5 and last 5 rows
# there are 4 columns 
df_mlb

In [ ]:
# we return a result of 828 rows, in a step of 1
df_mlb.index

In [ ]:
# we return 828 rows and 4 columns
df_mlb.shape

In [ ]:
df_mlb.rename(columns={'player': 'Player'}, inplace=True)
df_mlb.rename(columns={'team': 'Team'}, inplace=True)
df_mlb['Actual Salary'] = df_mlb['salary'].mul(1000)

In [ ]:
print(df_mlb[['Player', 'salary']][df_mlb.salary == df_mlb['salary'].max()])
#Highest paid player in the MLB at the time was Alex Rodriguez.

In [ ]:
shortstops = df_mlb.loc[df_mlb['position'] == 'Shortstop']
print(shortstops[['Player', 'salary']][shortstops.salary == shortstops['salary'].max()])
#The highest paid shortstop was Derek Jeter.

In [ ]:
thirdbaseman = df_mlb.loc[df_mlb['position'] == 'Third Baseman']
print(thirdbaseman[['Player', 'salary']][thirdbaseman.salary == thirdbaseman['salary'].max()])
#The highest paid third baseman was Alex Rodriguez.

In [ ]:
catcher = df_mlb.loc[df_mlb['position'] == 'Catcher']
print(catcher[['Player', 'salary']][catcher.salary == catcher['salary'].max()])
#The highest paid catcher was Jorge Posada.

In [ ]:
pitcher = df_mlb.loc[df_mlb['position'] == 'Pitcher']
print(pitcher[['Player', 'salary']][pitcher.salary == pitcher['salary'].max()])
#The highest paid pitcher was CC Sabathia.

In [ ]:
outfielder = df_mlb.loc[df_mlb['position'] == 'Outfielder']
print(outfielder[['Player', 'salary']][outfielder.salary == outfielder['salary'].max()])
#The highest paid outfielder was Carlos Beltran.

In [ ]:
teamy = df_mlb.loc[df_mlb['Team'] == 'Arizona Diamondbacks']
print(teamy[['Player', 'salary']][teamy.salary == teamy['salary'].max()])
#The highest paid player on the Arizona Diamondbacks was Brandon Webb.

In [ ]:
teamsum = df_mlb[['Team', 'salary']]

In [ ]:
teamgroups = teamsum.groupby(by= ['Team'])
teamsal=teamgroups.agg({'salary':"sum"})
teamsal.reset_index(inplace=True)
teamsal

In [ ]:
avgsals=teamgroups.agg({'salary':"mean"})
avgsals.reset_index(inplace=True)
avgsals

In [ ]:
print(teamsal[['Team', 'salary']][teamsal.salary == teamsal['salary'].max()])
#The team with the highest earnings overall was the New York Yankees.

In [ ]:
print(avgsals[['Team', 'salary']][avgsals.salary == avgsals['salary'].max()])
#The team with the highest average pay overall was the New York Yankees.

In [ ]:
df_mlb2 = df_mlb

In [ ]:
df_mlb2.drop(['Team', 'Player', 'Actual Salary'], axis = 1, inplace=True)

In [ ]:
posnteams = df_mlb2.groupby(by= ['position'])

In [ ]:
posavg=posnteams.agg({'salary':"mean"})
posavg.reset_index(inplace=True)
posavg

In [ ]:
print(posavg[['position', 'salary']][posavg.salary == posavg['salary'].max()])
#The position with the highest average salary is the first baseman.